{% extends 'core/base.html' %}
{% block body %}
<nav style=" background-color: #292939;" class="navbar navbar-dark shadow-sm mb-5 py-3">
    <div class="container">
      <a class="navbar-brand fs-3 fw-bold" href="{% url 'home' %}">
        Ralph
      </a>
      <a class="text-decoration-none" href="/">
        Go Home
      </a>
    </div>
  </nav>
  <section>
    <div class="container d-flex">
      {% include 'core/sidebar.html' %}
      <div class="main-content h-100 flex-grow-1 ms-md-5 px-3">
        {% block maincontent %}
        {% endblock %}
      </div>
    </div>
  </section>
{% endblock body%}
{% block scripts %}
<script>
  // Set active nav element
  var current = window.location.href.split('/')[4];
  function setActive(current){
    const activeNav = document.getElementById(current);
    activeNav.classList.remove("side-link");
    activeNav.classList.add("active-side-link");
  }
  setActive(current ? current : "home");
</script>
{% endblock scripts %}