{% extends 'core/base.html' %}
{% load static %}
{% block body %}
  <nav style=" background-color: #292939;" class="navbar navbar-dark shadow-sm mb-5 py-3 position-relative">
    <div style="z-index: 2;" class="px-3 px-md-0 container-fluid container-md">
      <a class="navbar-brand d-flex align-items-center fs-3 fw-bold" href="javascript: void(0)">
        <ion-icon style="font-size: 28px;" class="me-2 d-md-none" onclick="(function (){document.body.classList.toggle('open-menu')})()" name="menu-outline"></ion-icon>
        <div style="height: 35px" class="d-inline-block"><img style="object-fit: contain; height: 100%;" src="{% static 'core/img/logo.png' %}" /></div>
      </a>
      <a class="text-decoration-none" href="/">
        Go Home
      </a>
    </div>
    {% include 'core/mobilenav.html' %}
  </nav>
  <section>
    <div class="container d-flex">
      {% include 'core/sidebar.html' %}
      <div class="main-content h-100 flex-grow-1 ms-md-5 px-3">
        {% block maincontent %}
        {% endblock %}
      </div>
    </div>
  </section>
{% endblock body%}
{% block scripts %}
<script>
  // Set active nav element
  var current = window.location.href.split('/')[4];
  function setActive(current){
    const activeNav = document.getElementById(current);
    activeNav.classList.remove("side-link");
    activeNav.classList.add("active-side-link");
  }
  setActive(current ? current : "home");
</script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock scripts %}
