{% extends 'core/settings.html' %}
{% block settingscontent %}
<div class="row">
  <div class="col-12">
    <form class="row g-4" method="post">
      {% csrf_token %}
      <div class="col-12 col-md-8 col-lg-6">
        <div class="form-group mb-3">
          <label for="old_password" class="form-label">Current Password</label>
          <input class="my-form-control" type="password" name="old_password" required>
          {% for error in form.old_password.errors %}
            <div class="text-danger">
              {{ error }}
            </div>
          {% endfor %}
        </div>
        <div class="form-group mb-3">
          <label for="id_last_name" class="form-label">New Password</label>
          <input class="my-form-control" type="password" name="new_password1" autocomplete="new-password" required>
          {% for error in form.new_password1.errors %}
            <div class="text-danger">
              {{ error }}
            </div>
          {% endfor %}
        </div>
        <div class="form-group mb-3">
          <label for="id_room_no" class="form-label">Confirm New Password</label>
          <input class="my-form-control" type="password" name="new_password2" autocomplete="new-password" required>
          {% for error in form.new_password2.errors %}
            <div class="text-danger">
              {{ error }}
            </div>
          {% endfor %}
        </div>
        <div class="col"><button class="btn btn-primary" type="submit">Update Password</button></div>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock settingscontent %}