{% extends 'core/base_dashboard.html' %}
{% load humanize %}
{% block maincontent %}
<div class="heading row mb-5">
  <div class="col-12 col-lg-6 mb-3">
    <div class="fw-500 mb-3 fs-3">
      Transactions
    </div>
    <div class="fs-5 text-muted">You can view all transactions here.</div>
  </div>
  <div class="col-12 col-lg-6 mb-3 d-flex align-items-end justify-content-lg-center"><a href="{% url 'transaction_create' %}" class="btn btn-primary">Create Transaction</a></div>
</div>
<div class="row g-4">
  <div class="col-12 col-lg-6">
    <div class="text-uppercase text-muted fw-500 mb-3">Pending Transactions</div>
    {% for transaction in pending_transactions %}
    <div class="card">
      <div class="card-body">
        {{transaction.generated}}
        <div class="d-flex justify-content-between">₦{{transaction.amount|floatformat:2|intcomma}}<a class="text-decoration-none" href="{% url 'transaction_detail' transaction.eight_digit_id %}">Payment Page</a></div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-12 col-lg-6">
    <div class="text-uppercase text-muted fw-500 mb-3">Verified Transactions</div>
    {% for transaction in verified_transactions %}
    <div class="card">
      <div class="card-body">
        {{transaction.generated}}
        <div class="d-flex justify-content-between">₦{{transaction.amount|floatformat:2|intcomma}}<a class="text-decoration-none" href="{% url 'transaction_detail' transaction.eight_digit_id %}">Payment Page</a></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}